html {
    width: 100%;
    height: 100%;
}

body {
    background-color: black!important;
    width: 100%;
    height: 100%;
    font-family: Montserrat, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
}

.app-component {
    width: 100%;
    height: 100%;
}

.landing {
    height: 100%;
    background: url(../images/11-bg-inicio.jpg) center no-repeat;
    background-size: cover;
}

.home {
    display: flex;
    flex-direction: column;
}

.logos {
    text-align: center;
    padding-top: 50px;
}

.app-logo {
    width: 15%;
    height: auto;
}

.paladarnegro-logo {
    width: 15%;
    height: auto;
}

.home-title {
    align-self: center;
    padding-top: 10px;
    color: white;
    font-weight: 700;
}

.home-subtitle {
    text-align: center;
    padding-top: 10px;
    color: white;
    font-size: 35px;
    margin-top: -5px;
    line-height: 40px;
    opacity: 0.9;
}

.home-subtitle-1 {
    display: block;
}

.home-button {
    align-self: center;
    padding-top: 50px;
}

.comenzar {
    border-radius: 0!important;
    font-size: 35px!important;
    background-color: white!important;
    color: black!important;
    font-weight: 900!important;
    padding: 0 45px 0 45px!important;
}

.paladarnegro-link {
    width: 270px;
    align-self: center;
    padding-top: 50px;
    color: white;
    font-size: 25px;
}

.paladarnegro-link:hover {
    color: white;
}

.positions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;

}

.position {
    height: 40px;
    min-width: 140px;
    text-align: center;
    padding: 7px;
}

.position-selected {
    height: 40px;
    min-width: 140px;
    text-align: center;
    padding: 7px;
    border: 1px solid;
}

.position:hover {
    animation-name: hoverAnimation;
}

@keyframes hoverAnimation {
    from {background-color: white;}
    to {background-color: black;}
    from {color: black;}
    to {color: white;}
}

.players {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.player {
    text-align: center;
    vertical-align: middle;
    max-height: 100px;
    width: 140px;
    text-align: center;
    padding: 7px;
}

.player-selected {
    text-align: center;
    vertical-align: middle;
    max-height: 100px;
    width: 140px;
    text-align: center;
    padding: 7px;
    border: 1px solid;
}

.save-button {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.sharing-template {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}

.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}
